* {
	box-sizing: border-box;
	font-family: 'Noto Sans', 'Arial';
}

h1 {
	font-family: 'Noto Serif';
}

html {
	overflow-y: scroll;
}

html, body {
	height: 100%;
	margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(to bottom right, #001a0e, #171a18);
  min-height: 100vh;
  margin: 0;
  background-attachment: fixed;
  color: #f0f0f0;
}

main {
  flex: 1; /* Take up remaining space */
}

img {
	max-width: 400px;
}

/* Optional: Style for clarity */
footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 1rem;
}